[submodule "Opus/sources"]
	path = Opus/sources
	url = https://git.xiph.org/opus.git
[submodule "Ogg/sources"]
	path = Ogg/sources
	url = https://git.xiph.org/ogg.git
[submodule "OpusFile/sources"]
	path = OpusFile/sources
	url = https://git.xiph.org/opusfile.git
[submodule "FLAC/sources"]
	path = FLAC/sources
	url = https://git.xiph.org/flac.git
[submodule "TagLib/sources"]
	path = TagLib/sources
	url = https://github.com/taglib/taglib.git
