[submodule "cyberlink-src"]
	path = cyberlink-src
	url = git://github.com/cybergarage/CyberLink4C.git
[submodule "taglib-src"]
	path = taglib-src
	url = git://github.com/taglib/taglib.git
[submodule "Opus/sources"]
	path = Opus/sources
	url = https://git.xiph.org/opus.git
[submodule "Ogg/sources"]
	path = Ogg/sources
	url = https://git.xiph.org/ogg.git
[submodule "OpusFile/sources"]
	path = OpusFile/sources
	url = https://git.xiph.org/opusfile.git
[submodule "FLAC/sources"]
	path = FLAC/sources
	url = https://git.xiph.org/flac.git
